<div class="container-fluid">
    <div class="row">
        <div class="col-6 editor-box">
            Domain:
            <ngx-codemirror
                [(ngModel)]="domainContent"
                [options]="{
                    lineNumbers: true,
                    theme: 'material',
                    mode: 'scheme',
                    setSize: '700px'
                }"
            ></ngx-codemirror>
        </div>
        <div class="col-6 editor-box">
            Problem:
            <ngx-codemirror
                [(ngModel)]="problemContent"
                [options]="{
                    lineNumbers: true,
                    theme: 'material',
                    mode: 'scheme'
                }"
            ></ngx-codemirror>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label for="timeout-box" class="col-form-label" data-toggle="tooltip" data-placement="top"
                       title="The planner will be killed after this time. Increse it if Optic is not ending on time.">Timeout for the planner:</label>
                <input #timeout id="timeout-box" type="number" size="3" max="20" min="1" placeholder="2"/>
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Send to the planner
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="executeInSGPlan(timeout.value)">SGPlan 5.2.2</a>
                    <a class="dropdown-item" (click)="executeInOptic(timeout.value)">Optic CLP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="console-output-accordion">
                <div class="card">
                  <div class="card-header" id="heading-output">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#console-output" aria-expanded="false" aria-controls="console-output">
                        Output Console
                      </button>
                    </h2>
                  </div>
                  <div id="console-output" class="collapse show" aria-labelledby="heading-output" data-parent="#console-output-accordion">
                    <div class="card-body">
                      Execute your problem to get the output here...
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>