.card {
  height: calc(98%);
}
.card-body {
  height: calc(100%);
}

.card-header {
  padding: 5px 10px 5px 10px;
}

::ng-deep .CodeMirror {
  height: calc(100vh - 350px);
}

.btn {
  margin-top: 5px;
}

.editor-icon {
  width: 25px;
  height: 25px;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 4px;
}

.panel-title {
  display: inline;
}