
.card-header {
  padding: 5px 10px 5px 10px;
}

.dropdown .btn {
  font-size: 0.8rem;
  padding: .2rem .5rem;
  margin-top: 5px;
}

.dropdown .dropdown-item {
  font-size: 0.8rem;
}

.editor-icon {
  width: 25px;
  height: 25px;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 4px;
}

.panel-title {
  display: inline;
}

// Media queries to resolve resolution issues on vertical screens
// TO DO: 
// - Check this carefully. For now I'm not focusing on testing for smartphones or tablets
@media (max-width: 767px) {
  .card {
    height: calc(70vh - 5px);
  }
  
  .card-body {
    height: calc(70vh - 10px);
  }
  
  ::ng-deep .CodeMirror {
    height: calc(70vh - 100px);
  }
}

@media (min-width: 767px) {
  .card {
    height: calc(75vh - 5px);
  }
  
  .card-body {
    height: calc(75vh - 10px);
  }
  
  ::ng-deep .CodeMirror {
    height: calc(75vh - 100px);
  }
}
